html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

}
#__next{
  height: 100%;
  overflow: auto;
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus {
  outline: none !important;
}
